:root {
    --bg: #FCAD1A;
    --black: #000000;
    --green: #00a950;
    --yellow: #fdd106;
    font-size: 10px
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    transition: 0.2s linear;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: var(--bg);
}

section {
    padding: 2rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background: #00a950;
    border-bottom: 2px solid #00a950;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.header section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.navbar a {
    font-family: "Georama", sans-serif;
    margin: 0 2rem;
    font-size: 2.3rem;
    color: #ffffff
}

.navbar a:hover {
    color: #fdd106;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    padding-bottom: 0.5rem;
    font-size: 2.4rem
}

.icons img {
    margin: 1rem;
    cursor: pointer;
}

.icons img:hover {
    width: 42px;
    height: 42px;
}

.btn {
    font-family: "Georama", sans-serif;
    background: #00a950;
    color: #ffffff;
    padding: 1rem 3rem;
    font-size: 2rem;
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;
    border-radius: 10px;
}

.btn:hover {
    padding: 1.02rem 3.02rem;
    font-size: 2.05rem;
    border: 2px solid #00a950;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.home-container {
    background: url("./img/bg.png");
    background-position: center;
    background-size: cover;
}

.home-container section {
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.content {
    align-items: center;
    max-width: 100rem;
    margin-right: 70rem;
}

.content p {
    color: #ffffff;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.8;
    padding: 1rem 0;
}

.footer {
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background: #fdd106;
    border-top: 2px solid #fdd106;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.footer section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.footer p {
    font-family: "Georama", sans-serif;
    margin: 0 1rem;
    font-size: 1.8rem;
    color: #00a950;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}
.navfooter a {
    margin: 0 1rem;
    font-size: 1.5rem;
    color: #00a950;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.navfooter a:hover {
    color: #ffffff;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    padding-bottom: 0.5rem;
    font-size: 1.6rem;
    cursor: pointer;
    width: 22px;
    height: 22px;
}

.navfooter twitter:hover {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.about-container {
    padding-bottom: 6rem;
}

.about-container section {
    display: flex;
    align-items: center;
}

.content-about1 {
    padding-top: 11.5rem;
}

.content-about2 {
    padding-top: 3rem;
}

.content-about1 h2 {
    font-family: "Georama", sans-serif;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    font-size: 6rem;
    font-weight: 100;
    line-height: 1.8;
    padding-left: 21.5rem;
    max-width: 100rem;
}

.content-about2 h2 {
    font-family: "Georama", sans-serif;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    font-size: 6rem;
    font-weight: 100;
    line-height: 1.8;
    padding-left: 19rem;
    max-width: 100rem;
}

.content-about3 h2 {
    font-family: "Georama", sans-serif;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    font-size: 6rem;
    font-weight: 100;
    line-height: 1.8;
    padding-left: 23rem;
    max-width: 100rem;
}

.content-about1 p {
    color: #ffffff;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.8;
    padding-left: 6rem;
    max-width: 100rem;
    padding-top: 3rem;
}

.content-about2 p {
    color: #ffffff;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.8;
    padding-right: 5rem;
    max-width: 100rem;
    padding-top: 3rem;
}

.content-about3 p {
    color: #ffffff;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.8;
    padding-left: 6rem;
    max-width: 100rem;
    padding-top: 3rem;
}

.image1 {
    padding-top: 14.5rem;
}

.image2 {
    padding-top: 6rem;
}

.image3 {
    padding-top: 6rem;
}

.image1 img {
    border: 10px solid #00a950;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.image2 img {
    border: 10px solid #00a950;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.image3 img {
    border: 10px solid #00a950;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}