/* -------geral------- */
:root {
    --bg: #FCAD1A;
    --black: #000000;
    --green: #00a950;
    --yellow: #fdd106;
    font-size: 10px
}

::-webkit-scrollbar{
    display: none;
} 

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    transition: 0.2s linear;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: var(--bg);
}

section {
    padding: 2rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background: #00a950;
    border-bottom: 2px solid #00a950;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.header section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.navbar a {
    font-family: "Georama", sans-serif;
    margin: 0 2rem;
    font-size: 2.3rem;
    color: #ffffff
}

.navbar a:hover {
    color: #fdd106;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    padding-bottom: 0.5rem;
    font-size: 2.4rem
}

.navbar .active {
    border-bottom: 2px solid #fdd106;
    margin-top: 0.6rem;
}

.box-search {
    width: 28rem;
    height: 4.2rem;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.box-search .lupe {
    min-width: 40;
    height: 40;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 1.2rem;
}

.box-search .input {
    position: absolute;
    left: 50px;
    width: 100%;
    height: 100%;
    line-height: 46.6px;
}

.box-search .input input {
    font-size: 1.4rem;
}

.box-search .close {
    min-width: 20;
    height: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 1rem;
}

.footer {
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background: #fdd106;
    border-top: 2px solid #fdd106;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.footer section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.navfooter p {
    font-family: "Georama", sans-serif;
    font-size: 1.8rem;
    color: #00a950;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}

.rights {
    color: #00a950;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
    font-size: 1.4rem;
}

.navfooter a {
    padding: 0 1.04rem;
    color: #00a950;
    cursor: pointer;
}

.instagram, .youtube {
    padding-top: 1rem;
}

.btn-end {
    font-family: "Georama", sans-serif;
    background: #00a950;
    color: #ffffff;
    padding: 1rem 3rem;
    font-size: 2rem;
    cursor: pointer;
    width: 15rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    display: block;
    border-radius: 10px;
    text-align: center;
}

.btn-end:hover {
    padding: 1.02rem 3.02rem;
    font-size: 2.05rem;
    width: 15.3rem;
    border: 2px solid #00a950;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
/* -------geral------- */



/* -------home------- */
.icons img {
    margin: 1rem;
    cursor: pointer;
}

.icons img:hover {
    width: 42px;
    height: 42px;
}

.btn-home {
    font-family: "Georama", sans-serif;
    background: #00a950;
    color: #ffffff;
    padding: 1rem 3rem;
    font-size: 2rem;
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;
    border-radius: 10px;
}

.btn-home:hover {
    padding: 1.02rem 3.02rem;
    font-size: 2.05rem;
    border: 2px solid #00a950;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.home-container {
    background: url("./img/bg.png");
    background-position: center;
    background-size: cover;
}

.home-container section {
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.content {
    align-items: center;
    max-width: 100rem;
    margin-right: 70rem;
}

.content p {
    color: #ffffff;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.8;
    padding: 1rem 0;
}
/* -------home------- */



/* -------about------- */
.about-container {
    padding-bottom: 6rem;
}

.about-container section {
    display: flex;
    align-items: center;
}

.content-about1 {
    padding-top: 11.5rem;
}

.content-about2 {
    padding-top: 3rem;
}

.content-about1 h2 {
    font-family: "Georama", sans-serif;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    font-size: 6rem;
    font-weight: 100;
    line-height: 1.8;
    padding-left: 21.5rem;
    max-width: 100rem;
}

.content-about2 h2 {
    font-family: "Georama", sans-serif;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    font-size: 6rem;
    font-weight: 100;
    line-height: 1.8;
    padding-left: 19rem;
    max-width: 100rem;
}

.content-about3 h2 {
    font-family: "Georama", sans-serif;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    font-size: 6rem;
    font-weight: 100;
    line-height: 1.8;
    padding-left: 23rem;
    max-width: 100rem;
}

.content-about1 p, .content-about3 p {
    color: #ffffff;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.8;
    padding-left: 6rem;
    max-width: 100rem;
    padding-top: 3rem;
}

.content-about2 p {
    color: #ffffff;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.8;
    padding-right: 5rem;
    max-width: 100rem;
    padding-top: 3rem;
}

.image1 {
    padding-top: 14.5rem;
}

.image2, .image3 {
    padding-top: 6rem;
}

.image1 img, .image2 img, .image3 img {
    border: 10px solid #00a950;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
/* -------about------- */



/* -------muppets------- */
.muppets-container {
    padding-top: 13rem;
    padding-bottom: 6rem;
}

.muppets-container section {
    display: flex;
    align-items: center;
    padding: 6rem 0;
}

.green-line {
    position: absolute;
    background-color: #00a950;
    border-bottom-left-radius: 18px;
    border-top-left-radius: 18px;
    padding: 11rem 100rem 11rem 5rem;
    margin-left: 13rem;
    z-index: 0;
}

.green-line p, .green-line h2 {
    visibility: hidden;
}

.content-muppets {
    z-index: 1;
    padding: 0 1rem 0 4rem;
}

.content-muppets h2 {
    font-family: "Georama", sans-serif;
    color: #ffffff;
    font-size: 6rem;
    padding-bottom: 1.2rem;
}

.content-muppets p {
    color: #ffffff;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.5;
}

.imagem {
    z-index: 1;
}

.imagem img {
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
/* -------muppets------- */